/**
 * @file
 * Visual styles for Showcase+'s facets.
 */
.facets-widget-checkbox [type="checkbox"]:not(:checked) + label:after {
  border-color: rgba(var(--mt-color-base-value), 0.4);
}
.facets-widget-checkbox [type="checkbox"]:checked + label:after,
.facets-widget-checkbox .facet-item--active-trail > [type="checkbox"] + label:after,
.facets-widget-checkbox [type="checkbox"]:hover + label:after {
  border-color: rgba(var(--mt-color-base-value), 0.4);
}
.facets-widget-checkbox [type="checkbox"]:checked + label:before {
  border-color: transparent rgba(var(--mt-color-base-contrast-value), 1) rgba(var(--mt-color-base-contrast-value), 1) transparent;
}