/**
 * @file
 * Visual styles for Showcase+'s service content type.
 */
/*subheader field*/
.field--name-field-mt-srv-subheader-body {
  font-weight: 400;
}
.page-node-type-mt-service .hero-top__section {
  text-align: left;
}
.page-node-type-mt-service .block-system-breadcrumb-block .breadcrumb {
  justify-content: start;
}
