/**
 * @file
 * Visual styles for Showcase+'s tables.
 */
table tr th {
  padding: 15px 20px;
  font-size: 12px;
  font-weight: 600;
}
table thead + tbody tr:first-child th,
table thead + tbody tr:first-child td {
  padding-top: 12px;
}
table tr td {
  border-width: 0 1px 1px 0;
  border-color: var(--mt-table-border-color);
}
table tr:last-child td {
  border-bottom-width: 0;
}
